@import "tailwindcss";

@theme {
  --color-status-completed-bg: #ECFDF5;
  --color-status-completed-text: #065F46;
  --color-status-completed-border: #D1FAE5;

  --color-status-pending-bg: #FFFBEB;
  --color-status-pending-text: #92400E;
  --color-status-pending-border: #FEF3C7;

  --color-status-failed-bg: #FEF2F2;
  --color-status-failed-text: #991B1B;
  --color-status-failed-border: #FECACA;
}
